### Step 1: Import all the necessary libraries & files

In [3]:
import pandas as pd
import numpy as np
import os

os.chdir(r'D:\KDG\2024-2025\Semester 1\DAI5\GroupProject\Functions')

import Functions.functions as f

os.chdir(r'D:\KDG\2024-2025\Semester 1\DAI5\GroupProject\Resources')

### Step 2: Check if the number of max columns is the same as the number of min columns

In [3]:
print(f.nb_of_fields('employee_survey.csv', ','))

[23, 23]

### Step 3: Read the CSV

In [4]:
missing_values = ['n/a', 'na', 'nan', 'N/A', 'NA', 'NaN', 'NAN', '--', 'Missing']
df = pd.read_csv('employee_survey.csv', na_values=missing_values, sep=',', decimal='.')

pd.set_option('display.max_columns', None)  # to see all the columns
print(df.head())
print(df.info())

   EmpID  Gender  Age MaritalStatus        JobLevel  Experience       Dept  \
0      6    Male   32       Married             Mid           7         IT
1     11  Female   34       Married             Mid          12    Finance
2     33  Female   23        Single  Intern/Fresher           1  Marketing
3     20  Female   29       Married          Junior           6         IT
4     28   Other   23        Single          Junior           1      Sales

     EmpType  WLB  WorkEnv  PhysicalActivityHours  Workload  Stress  \
0  Full-Time    1        1                    2.5         2       1
1  Full-Time    1        1                    1.8         2       2
2  Full-Time    2        4                    2.1         5       4
3   Contract    2        2                    1.9         3       1
4  Part-Time    3        1                    3.7         2       1

   SleepHours       CommuteMode  CommuteDistance  NumCompanies  TeamSize  \
0         7.6               Car               20             3        12
1         7.9               Car               15             4        11
2         6.5         Motorbike               17             0        30
3         7.5  Public Transport               13             2         9
4         4.9               Car               20             0         7

   NumReports  EduLevel  haveOT  TrainingHoursPerYear  JobSatisfaction
0           0  Bachelor    True                  33.5                5
1           0  Bachelor   False                  36.0                5
2           0  Bachelor    True                  10.5                5
3           0  Bachelor    True                  23.0                5
4           0  Bachelor   False                  20.5                5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3025 entries, 0 to 3024
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   EmpID                  3025 non-null   int64
 1   Gender                 3025 non-null   object
 2   Age                    3025 non-null   int64
 3   MaritalStatus          3025 non-null   object
 4   JobLevel               3025 non-null   object
 5   Experience             3025 non-null   int64
 6   Dept                   3025 non-null   object
 7   EmpType                3025 non-null   object
 8   WLB                    3025 non-null   int64
 9   WorkEnv                3025 non-null   int64
 10  PhysicalActivityHours  3025 non-null   float64
 11  Workload               3025 non-null   int64
 12  Stress                 3025 non-null   int64
 13  SleepHours             3025 non-null   float64
 14  CommuteMode            3025 non-null   object
 15  CommuteDistance        3025 non-null   int64
 16  NumCompanies           3025 non-null   int64
 17  TeamSize               3025 non-null   int64
 18  NumReports             3025 non-null   int64
 19  EduLevel               3025 non-null   object
 20  haveOT                 3025 non-null   bool
 21  TrainingHoursPerYear   3025 non-null   float64
 22  JobSatisfaction        3025 non-null   int64
dtypes: bool(1), float64(3), int64(12), object(7)
memory usage: 523.0+ KB
None

### Step 4: Add some NaN

In [5]:
# Set seed for reproducibility

np.random.seed(0)
 
# Get the number of rows and columns in the DataFrame

n_rows, n_cols = df.shape
 
# Define how many random values you want to replace with NaN (1% of the dataset)

nan_count = int(0.01 * n_rows * n_cols)
 
# Randomly choose row indices and column indices to replace values with NaN

row_indices = np.random.randint(0, n_rows, nan_count)

col_indices = np.random.randint(0, n_cols, nan_count)
 
# Replace the selected values with NaN

df.values[row_indices, col_indices] = np.nan
 
# Save the modified DataFrame to a new CSV file

df.to_csv('modified_employees.csv', index=False)

### Step 5: Read the modified CSV file

In [8]:
missing_values = ['n/a', 'na', 'nan', 'N/A', 'NA', 'NaN', 'NAN', '--', 'Missing']
df = pd.read_csv('modified_employees.csv', na_values=missing_values, sep=',', decimal='.')

pd.set_option('display.max_columns', None)  # to see all the columns
print(df.head())
print(df.info())

   EmpID  Gender  Age MaritalStatus        JobLevel  Experience       Dept  \
0      6    Male   32       Married             Mid           7         IT
1     11  Female   34       Married             Mid          12    Finance
2     33  Female   23        Single  Intern/Fresher           1  Marketing
3     20  Female   29       Married          Junior           6         IT
4     28   Other   23        Single          Junior           1      Sales

     EmpType  WLB  WorkEnv  PhysicalActivityHours  Workload  Stress  \
0  Full-Time    1        1                    2.5         2       1
1  Full-Time    1        1                    1.8         2       2
2  Full-Time    2        4                    2.1         5       4
3   Contract    2        2                    1.9         3       1
4  Part-Time    3        1                    3.7         2       1

   SleepHours       CommuteMode  CommuteDistance  NumCompanies  TeamSize  \
0         7.6               Car               20             3        12
1         7.9               Car               15             4        11
2         6.5         Motorbike               17             0        30
3         7.5  Public Transport               13             2         9
4         4.9               Car               20             0         7

   NumReports  EduLevel  haveOT  TrainingHoursPerYear  JobSatisfaction
0           0  Bachelor    True                  33.5                5
1           0  Bachelor   False                  36.0                5
2           0  Bachelor    True                  10.5                5
3           0  Bachelor    True                  23.0                5
4           0  Bachelor   False                  20.5                5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3025 entries, 0 to 3024
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   EmpID                  3025 non-null   int64
 1   Gender                 3025 non-null   object
 2   Age                    3025 non-null   int64
 3   MaritalStatus          3025 non-null   object
 4   JobLevel               3025 non-null   object
 5   Experience             3025 non-null   int64
 6   Dept                   3025 non-null   object
 7   EmpType                3025 non-null   object
 8   WLB                    3025 non-null   int64
 9   WorkEnv                3025 non-null   int64
 10  PhysicalActivityHours  3025 non-null   float64
 11  Workload               3025 non-null   int64
 12  Stress                 3025 non-null   int64
 13  SleepHours             3025 non-null   float64
 14  CommuteMode            3025 non-null   object
 15  CommuteDistance        3025 non-null   int64
 16  NumCompanies           3025 non-null   int64
 17  TeamSize               3025 non-null   int64
 18  NumReports             3025 non-null   int64
 19  EduLevel               3025 non-null   object
 20  haveOT                 3025 non-null   bool
 21  TrainingHoursPerYear   3025 non-null   float64
 22  JobSatisfaction        3025 non-null   int64
dtypes: bool(1), float64(3), int64(12), object(7)
memory usage: 523.0+ KB
None

### Step 6: Check the number of rows and columns

In [9]:
num_rows = df.shape[0]  # Get the number of rows
print(num_rows)
num_cols = df.shape[1]  # Get the number of columns
print(num_cols)

3025
23

### Step 7: Drop the unnecessary columns

In [10]:
df = df.drop(['WLB', 'WorkEnv', 'NumCompanies', 'EduLevel'], axis=1)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3025 entries, 0 to 3024
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   EmpID                  3025 non-null   int64
 1   Gender                 3025 non-null   object
 2   Age                    3025 non-null   int64
 3   MaritalStatus          3025 non-null   object
 4   JobLevel               3025 non-null   object
 5   Experience             3025 non-null   int64
 6   Dept                   3025 non-null   object
 7   EmpType                3025 non-null   object
 8   PhysicalActivityHours  3025 non-null   float64
 9   Workload               3025 non-null   int64
 10  Stress                 3025 non-null   int64
 11  SleepHours             3025 non-null   float64
 12  CommuteMode            3025 non-null   object
 13  CommuteDistance        3025 non-null   int64
 14  TeamSize               3025 non-null   int64
 15  NumReports             3025 non-null   int64
 16  haveOT                 3025 non-null   bool
 17  TrainingHoursPerYear   3025 non-null   float64
 18  JobSatisfaction        3025 non-null   int64
dtypes: bool(1), float64(3), int64(9), object(6)
memory usage: 428.5+ KB
None

### Step 8: Check if NaN values are present

In [11]:
print(df.isna().sum().sum())  #total number of NA-values in de dataframe
rowsWithNaN = df[df.isna().any(axis=1)]  #the rows containing NA's
columnsWithNaN = df[df.columns[df.isna().any(axis=0)]]  #the colomns containing NA's
print(columnsWithNaN)

0
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[3025 rows x 0 columns]

### Step 9: Replace the NaN

#### a) For EmpID, just drop those rows

In [12]:
df = df.dropna(subset=['EmpID'])

#### b) For Age, take the mean

In [13]:
df.loc[:, 'Age'] = df['Age'].fillna(df['Age'].mean())

#### c) For Gender, fill with 'Other'

In [14]:
df.loc[:,'Gender'] = df['Gender'].fillna('Other')

#### d) For Marital Status, use the mode

In [15]:
df.loc[:,'MaritalStatus'] = df['MaritalStatus'].fillna(df['MaritalStatus'].mode()[0])

#### e) For Job Level, use the Experience

In [16]:
def fill_job_level(row):
    if pd.isna(row['JobLevel']):
        if row['Experience'] <= 2:
            return 'Intern/Fresher'
        elif row['Experience'] <= 5:
            return 'Junior'
        elif row['Experience'] <= 10:
            return 'Mid'
        else:
            return 'Senior'
    return row['JobLevel']

df.loc[:,'JobLevel'] = df.apply(fill_job_level, axis=1)

#### f) For Experience, use the Job Level

In [17]:
def fill_experience(row):
    if pd.isna(row['Experience']):
        if row['JobLevel'] == 'Intern/Fresher':
            return 0
        elif row['JobLevel'] == 'Junior':
            return 2
        elif row['JobLevel'] == 'Mid':
            return 5
        elif row['JobLevel'] == 'Senior':
            return 10
        elif row['JobLevel'] == 'Lead':
            return 15
    return row['Experience']

df.loc[:,'Experience'] = df.apply(fill_experience, axis=1)

#### g) For Dept, take the most frequent value(mode)

In [18]:
df.loc[:,'Dept'] = df['Dept'].fillna(df['Dept'].mode()[0])

#### f) For Emp Type, take the mode

In [19]:
df.loc[:,'EmpType'] = df['EmpType'].fillna(df['EmpType'].mode()[0])

#### g) For Physical Activity Hours, use the mean

In [20]:
df.loc[:,'PhysicalActivityHours'] = df['PhysicalActivityHours'].fillna(df['PhysicalActivityHours'].mean())

#### h) For Workload, use the median

In [21]:
df.loc[:,'Workload'] = df['Workload'].fillna(df['Workload'].median())

#### i) For Stress, use the median

In [22]:
df.loc[:,'Stress'] = df['Stress'].fillna(df['Stress'].median())

#### j) For Sleep Hours, use the mean

In [23]:
df.loc[:,'SleepHours'] = df['SleepHours'].fillna(df['SleepHours'].mean())

#### k) For Commute Mode, use the most frequent mode of commuting

In [24]:
df.loc[:,'CommuteMode'] = df['CommuteMode'].fillna(df['CommuteMode'].mode()[0])

#### l) For Commute Distance, use the mean

In [25]:
df['CommuteDistance'] = df['CommuteDistance'].fillna(df['CommuteDistance'].mean())

#### m) For Team Size, use the mean

In [26]:
df['TeamSize'] = df['TeamSize'].fillna(df['TeamSize'].mean())

#### n) For Num Reports, use the Job Level

In [27]:
def fill_num_reports(row):
    if pd.isna(row['NumReports']):
        if row['JobLevel'] in ['Senior', 'Lead']:
            return df['NumReports'].mean()  # Use the mean if Senior or Lead
        else:
            return 0  # Otherwise set to 0
    return row['NumReports']

df['NumReports'] = df.apply(fill_num_reports, axis=1)

#### o) For have OT (overtime), use the most frequent value

In [28]:
df.loc[:,'haveOT'] = df['haveOT'].fillna(df['haveOT'].mode()[0])

#### p) For Training Hours Per Year, use the mean

In [29]:
df['TrainingHoursPerYear'] = df['TrainingHoursPerYear'].fillna(df['TrainingHoursPerYear'].mean())

#### q) JobSatisfaction, use the median

In [30]:
df['JobSatisfaction'] = df['JobSatisfaction'].fillna(df['JobSatisfaction'].median())

### Step 10: Remove the outliers

In [31]:
outliers = f.get_outliers(df['Age'])
df = df[~df['Age'].isin(outliers)]

outliers = f.get_outliers(df['Experience'])
df = df[~df['Experience'].isin(outliers)]

outliers = f.get_outliers(df['PhysicalActivityHours'])
df = df[~df['PhysicalActivityHours'].isin(outliers)]

outliers = f.get_outliers(df['SleepHours'])
df = df[~df['SleepHours'].isin(outliers)]

outliers = f.get_outliers(df['CommuteDistance'])
df = df[~df['CommuteDistance'].isin(outliers)]

outliers = f.get_outliers(df['TeamSize'])
df = df[~df['TeamSize'].isin(outliers)]

outliers = f.get_outliers(df['NumReports'])
df = df[~df['NumReports'].isin(outliers)]

outliers = f.get_outliers(df['TrainingHoursPerYear'])
df = df[~df['TrainingHoursPerYear'].isin(outliers)]

### Step 11: Make each nominal variable a disordered categorical variable and each ordinal variable, an ordered categorical variable

In [32]:
df['Gender'] = df['Gender'].astype(pd.CategoricalDtype(categories=df['Gender'].unique()))
df['MaritalStatus'] = df['MaritalStatus'].astype(pd.CategoricalDtype(categories=df['MaritalStatus'].unique()))
df['Dept'] = df['Dept'].astype(pd.CategoricalDtype(categories=df['Dept'].unique()))
df['EmpType'] = df['EmpType'].astype(pd.CategoricalDtype(categories=df['EmpType'].unique()))
df['CommuteMode'] = df['CommuteMode'].astype(pd.CategoricalDtype(categories=df['CommuteMode'].unique()))
df['haveOT'] = df['haveOT'].astype(pd.CategoricalDtype(categories=df['haveOT'].unique()))

print(df['JobLevel'].unique())
df['JobLevel'] = df['JobLevel'].astype(
    pd.CategoricalDtype(categories=['Intern/Fresher', 'Junior', 'Mid', 'Senior', 'Lead'], ordered=True))

df['Workload'] = df['Workload'].astype(
    pd.CategoricalDtype(categories=[1,2,3,4,5], ordered=True))

df['Stress'] = df['Stress'].astype(
    pd.CategoricalDtype(categories=[1,2,3,4,5], ordered=True))

df['JobSatisfaction'] = df['JobSatisfaction'].astype(
    pd.CategoricalDtype(categories=[1,2,3,4,5], ordered=True))

print(df.info())

['Mid' 'Intern/Fresher' 'Junior' 'Senior' 'Lead']
<class 'pandas.core.frame.DataFrame'>
Index: 3007 entries, 0 to 3024
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   EmpID                  3007 non-null   int64
 1   Gender                 3007 non-null   category
 2   Age                    3007 non-null   int64
 3   MaritalStatus          3007 non-null   category
 4   JobLevel               3007 non-null   category
 5   Experience             3007 non-null   int64
 6   Dept                   3007 non-null   category
 7   EmpType                3007 non-null   category
 8   PhysicalActivityHours  3007 non-null   float64
 9   Workload               3007 non-null   category
 10  Stress                 3007 non-null   category
 11  SleepHours             3007 non-null   float64
 12  CommuteMode            3007 non-null   category
 13  CommuteDistance        3007 non-null   int64
 14  TeamSize               3007 non-null   int64
 15  NumReports             3007 non-null   int64
 16  haveOT                 3007 non-null   category
 17  TrainingHoursPerYear   3007 non-null   float64
 18  JobSatisfaction        3007 non-null   category
dtypes: category(10), float64(3), int64(6)
memory usage: 266.2 KB
None

### Step 12: Normalize the data

In [31]:
df = f.normalize_values(pd.DataFrame(df), f.Zscore_norm)

### Step 13: Save the cleaned data to a CSV

In [33]:
output_file = 'cleaned_employees.csv'
df.to_csv(output_file, index=False)

print(f"Cleaned DataFrame saved to {output_file}")

df.head()

Cleaned DataFrame saved to cleaned_employees.csv

,EmpID,Gender,Age,MaritalStatus,JobLevel,Experience,Dept,EmpType,PhysicalActivityHours,Workload,Stress,SleepHours,CommuteMode,CommuteDistance,TeamSize,NumReports,haveOT,TrainingHoursPerYear,JobSatisfaction
0,6,Male,32,Married,Mid,7,IT,Full-Time,2.5,2,1,7.6,Car,20,12,0,True,33.5,5
1,11,Female,34,Married,Mid,12,Finance,Full-Time,1.8,2,2,7.9,Car,15,11,0,False,36.0,5
2,33,Female,23,Single,Intern/Fresher,1,Marketing,Full-Time,2.1,5,4,6.5,Motorbike,17,30,0,True,10.5,5
3,20,Female,29,Married,Junior,6,IT,Contract,1.9,3,1,7.5,Public Transport,13,9,0,True,23.0,5
4,28,Other,23,Single,Junior,1,Sales,Part-Time,3.7,2,1,4.9,Car,20,7,0,False,20.5,5