### Step 1: Import all the necessary libraries & files

In [3]:
import pandas as pd
import numpy as np
import os

os.chdir(r'D:\KDG\2024-2025\Semester 1\DAI5\GroupProject\Functions')

import Functions.functions as f

os.chdir(r'D:\KDG\2024-2025\Semester 1\DAI5\GroupProject\Resources')

### Step 2: Check if the number of max columns is the same as the number of min columns

In [3]:
print(f.nb_of_fields('employee_survey.csv', ','))

[23, 23]

### Step 3: Read the CSV

In [4]:
missing_values = ['n/a', 'na', 'nan', 'N/A', 'NA', 'NaN', 'NAN', '--', 'Missing']
df = pd.read_csv('employee_survey.csv', na_values=missing_values, sep=',', decimal='.')

pd.set_option('display.max_columns', None)  # to see all the columns
print(df.head())
print(df.info())

   EmpID  Gender  Age MaritalStatus        JobLevel  Experience       Dept  \
0      6    Male   32       Married             Mid           7         IT
1     11  Female   34       Married             Mid          12    Finance
2     33  Female   23        Single  Intern/Fresher           1  Marketing
3     20  Female   29       Married          Junior           6         IT
4     28   Other   23        Single          Junior           1      Sales

     EmpType  WLB  WorkEnv  PhysicalActivityHours  Workload  Stress  \
0  Full-Time    1        1                    2.5         2       1
1  Full-Time    1        1                    1.8         2       2
2  Full-Time    2        4                    2.1         5       4
3   Contract    2        2                    1.9         3       1
4  Part-Time    3        1                    3.7         2       1

   SleepHours       CommuteMode  CommuteDistance  NumCompanies  TeamSize  \
0         7.6               Car               20             3        12
1         7.9               Car               15             4        11
2         6.5         Motorbike               17             0        30
3         7.5  Public Transport               13             2         9
4         4.9               Car               20             0         7

   NumReports  EduLevel  haveOT  TrainingHoursPerYear  JobSatisfaction
0           0  Bachelor    True                  33.5                5
1           0  Bachelor   False                  36.0                5
2           0  Bachelor    True                  10.5                5
3           0  Bachelor    True                  23.0                5
4           0  Bachelor   False                  20.5                5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3025 entries, 0 to 3024
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   EmpID                  3025 non-null   int64
 1   Gender                 3025 non-null   object
 2   Age                    3025 non-null   int64
 3   MaritalStatus          3025 non-null   object
 4   JobLevel               3025 non-null   object
 5   Experience             3025 non-null   int64
 6   Dept                   3025 non-null   object
 7   EmpType                3025 non-null   object
 8   WLB                    3025 non-null   int64
 9   WorkEnv                3025 non-null   int64
 10  PhysicalActivityHours  3025 non-null   float64
 11  Workload               3025 non-null   int64
 12  Stress                 3025 non-null   int64
 13  SleepHours             3025 non-null   float64
 14  CommuteMode            3025 non-null   object
 15  CommuteDistance        3025 non-null   int64
 16  NumCompanies           3025 non-null   int64
 17  TeamSize               3025 non-null   int64
 18  NumReports             3025 non-null   int64
 19  EduLevel               3025 non-null   object
 20  haveOT                 3025 non-null   bool
 21  TrainingHoursPerYear   3025 non-null   float64
 22  JobSatisfaction        3025 non-null   int64
dtypes: bool(1), float64(3), int64(12), object(7)
memory usage: 523.0+ KB
None

### Step 4: Add some NaN

In [5]:
# Set seed for reproducibility

np.random.seed(0)
 
# Get the number of rows and columns in the DataFrame

n_rows, n_cols = df.shape
 
# Define how many random values you want to replace with NaN (1% of the dataset)

nan_count = int(0.01 * n_rows * n_cols)
 
# Randomly choose row indices and column indices to replace values with NaN

row_indices = np.random.randint(0, n_rows, nan_count)

col_indices = np.random.randint(0, n_cols, nan_count)
 
# Replace the selected values with NaN

df.values[row_indices, col_indices] = np.nan
 
# Save the modified DataFrame to a new CSV file

df.to_csv('modified_employees.csv', index=False)

### Step 5: Read the modified CSV file

In [6]:
missing_values = ['n/a', 'na', 'nan', 'N/A', 'NA', 'NaN', 'NAN', '--', 'Missing']
df = pd.read_csv('modified_employee_survey.csv', na_values=missing_values, sep=',', decimal='.')

pd.set_option('display.max_columns', None)  # to see all the columns
print(df.head())
print(df.info())

FileNotFoundError: [Errno 2] No such file or directory: 'modified_employee_survey.csv'

### Step 4: Check the number of rows and columns

In [5]:
num_rows = df.shape[0]  # Get the number of rows
print(num_rows)
num_cols = df.shape[1]  # Get the number of columns
print(num_cols)

3025
23

In [6]:
missing_values_count = df.isnull().sum()
total_cells = np.prod(df.shape)  # Use np.prod() instead of np.product()
total_missing = missing_values_count.sum()

percent_missing = (total_missing / total_cells) * 100

print(percent_missing)

NameError: name 'np' is not defined

### Step 5: Drop the unnecessary columns

In [7]:
df = df.drop(['WLB', 'WorkEnv', 'NumCompanies', 'EduLevel'], axis=1)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3025 entries, 0 to 3024
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   EmpID                  2996 non-null   float64
 1   Gender                 2988 non-null   object
 2   Age                    2989 non-null   float64
 3   MaritalStatus          2994 non-null   object
 4   JobLevel               2993 non-null   object
 5   Experience             3005 non-null   float64
 6   Dept                   2997 non-null   object
 7   EmpType                2995 non-null   object
 8   PhysicalActivityHours  2991 non-null   float64
 9   Workload               3000 non-null   float64
 10  Stress                 3001 non-null   float64
 11  SleepHours             2990 non-null   float64
 12  CommuteMode            2997 non-null   object
 13  CommuteDistance        2990 non-null   float64
 14  TeamSize               3000 non-null   float64
 15  NumReports             3000 non-null   float64
 16  haveOT                 2995 non-null   object
 17  TrainingHoursPerYear   2997 non-null   float64
 18  JobSatisfaction        2990 non-null   float64
dtypes: float64(12), object(7)
memory usage: 449.2+ KB
None

### Step 6: Check if NaN values are present

In [8]:
print(df.isna().sum().sum())  #total number of NA-values in de dataframe
rowsWithNaN = df[df.isna().any(axis=1)]  #the rows containing NA's
columnsWithNaN = df[df.columns[df.isna().any(axis=0)]]  #the colomns containing NA's
print(columnsWithNaN)

567
       EmpID  Gender   Age MaritalStatus        JobLevel  Experience  \
0        6.0    Male  32.0       Married             Mid         7.0
1       11.0  Female  34.0       Married             Mid        12.0
2       33.0  Female  23.0        Single  Intern/Fresher         1.0
3       20.0  Female  29.0       Married          Junior         6.0
4       28.0   Other  23.0        Single          Junior         1.0
...      ...     ...   ...           ...             ...         ...
3020  2070.0    Male  47.0       Married            Lead        16.0
3021  2072.0  Female  47.0       Married            Lead         8.0
3022  2145.0    Male  41.0       Married            Lead        17.0
3023  2168.0  Female  54.0       Married            Lead        16.0
3024  2183.0  Female  44.0       Married            Lead        22.0

           Dept    EmpType  PhysicalActivityHours  Workload  Stress  \
0            IT  Full-Time                    2.5       2.0     1.0
1       Finance  Full-Time                    1.8       2.0     2.0
2     Marketing  Full-Time                    2.1       5.0     4.0
3            IT   Contract                    1.9       3.0     1.0
4         Sales  Part-Time                    3.7       2.0     1.0
...         ...        ...                    ...       ...     ...
3020  Marketing  Part-Time                    1.9       4.0     3.0
3021         IT   Contract                    1.5       2.0     1.0
3022         IT  Full-Time                    1.3       1.0     NaN
3023         IT  Full-Time                    2.5       3.0     3.0
3024  Marketing  Full-Time                    1.1       3.0     5.0

      SleepHours       CommuteMode  CommuteDistance  TeamSize  NumReports  \
0            7.6               Car             20.0      12.0         0.0
1            7.9               Car             15.0      11.0         0.0
2            6.5         Motorbike             17.0      30.0         0.0
3            7.5  Public Transport             13.0       9.0         0.0
4            4.9               Car             20.0       7.0         0.0
...          ...               ...              ...       ...         ...
3020         6.8  Public Transport              NaN      28.0         8.0
3021         6.9               Car             28.0      21.0         8.0
3022         6.1  Public Transport              9.0      23.0         3.0
3023         7.7  Public Transport             18.0      30.0         7.0
3024         6.2               Car             10.0      29.0         4.0

     haveOT  TrainingHoursPerYear  JobSatisfaction
0      True                  33.5              5.0
1     False                  36.0              5.0
2      True                  10.5              5.0
3      True                  23.0              5.0
4     False                  20.5              5.0
...     ...                   ...              ...
3020  False                  58.0              1.0
3021   True                  54.0              1.0
3022   True                  58.5              1.0
3023   True                  58.0              1.0
3024  False                  61.0              1.0

[3025 rows x 19 columns]

### Step 7: Replace the NaN, still don't know how yet

In [9]:
# Better sol
# replace all NA's the value that comes directly after it in the same column, 
# then replace all the remaining na's with 0
df_permits_with_na_imputed = df.fillna(method='bfill', axis=0).fillna(0)

# Count the number of NaNs in the dataset to verify
print(df_permits_with_na_imputed.isnull().sum().sum())

df.head()

0

/run/user/1000/app/com.jetbrains.IntelliJ-IDEA-Ultimate/ipykernel_2898/3269741163.py:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_permits_with_na_imputed = df.fillna(method='bfill', axis=0).fillna(0)
/run/user/1000/app/com.jetbrains.IntelliJ-IDEA-Ultimate/ipykernel_2898/3269741163.py:4: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_permits_with_na_imputed = df.fillna(method='bfill', axis=0).fillna(0)

,EmpID,Gender,Age,MaritalStatus,JobLevel,Experience,Dept,EmpType,PhysicalActivityHours,Workload,Stress,SleepHours,CommuteMode,CommuteDistance,TeamSize,NumReports,haveOT,TrainingHoursPerYear,JobSatisfaction
0,6.0,Male,32.0,Married,Mid,7.0,IT,Full-Time,2.5,2.0,1.0,7.6,Car,20.0,12.0,0.0,True,33.5,5.0
1,11.0,Female,34.0,Married,Mid,12.0,Finance,Full-Time,1.8,2.0,2.0,7.9,Car,15.0,11.0,0.0,False,36.0,5.0
2,33.0,Female,23.0,Single,Intern/Fresher,1.0,Marketing,Full-Time,2.1,5.0,4.0,6.5,Motorbike,17.0,30.0,0.0,True,10.5,5.0
3,20.0,Female,29.0,Married,Junior,6.0,IT,Contract,1.9,3.0,1.0,7.5,Public Transport,13.0,9.0,0.0,True,23.0,5.0
4,28.0,Other,23.0,Single,Junior,1.0,Sales,Part-Time,3.7,2.0,1.0,4.9,Car,20.0,7.0,0.0,False,20.5,5.0

#### a) For EmpID, just drop those rows

In [10]:
df = df.dropna(subset=['EmpID'])

#### b) For Age, take the mean

In [11]:
df.loc[:, 'Age'] = df['Age'].fillna(df['Age'].mean())

#### c) For Gender, fill with 'Other'

In [13]:
df.loc[:,'Gender'] = df['Gender'].fillna('Other')

#### d) For Marital Status, use the mode

In [14]:
df.loc[:,'MaritalStatus'] = df['MaritalStatus'].fillna(df['MaritalStatus'].mode()[0])

#### e) For Job Level, use the Experience

In [15]:
def fill_job_level(row):
    if pd.isna(row['JobLevel']):
        if row['Experience'] <= 2:
            return 'Intern/Fresher'
        elif row['Experience'] <= 5:
            return 'Junior'
        elif row['Experience'] <= 10:
            return 'Mid'
        else:
            return 'Senior'
    return row['JobLevel']

df.loc[:,'JobLevel'] = df.apply(fill_job_level, axis=1)

#### f) For Experience, use the Job Level

In [16]:
def fill_experience(row):
    if pd.isna(row['Experience']):
        if row['JobLevel'] == 'Intern/Fresher':
            return 0
        elif row['JobLevel'] == 'Junior':
            return 2
        elif row['JobLevel'] == 'Mid':
            return 5
        elif row['JobLevel'] == 'Senior':
            return 10
        elif row['JobLevel'] == 'Lead':
            return 15
    return row['Experience']

df.loc[:,'Experience'] = df.apply(fill_experience, axis=1)

#### g) For Dept, take the most frequent value(mode)

In [17]:
df.loc[:,'Dept'] = df['Dept'].fillna(df['Dept'].mode()[0])

#### f) For Emp Type, take the mode

In [18]:
df.loc[:,'EmpType'] = df['EmpType'].fillna(df['EmpType'].mode()[0])

#### g) For Physical Activity Hours, use the mean

In [19]:
df.loc[:,'PhysicalActivityHours'] = df['PhysicalActivityHours'].fillna(df['PhysicalActivityHours'].mean())

#### h) For Workload, use the median

In [20]:
df.loc[:,'Workload'] = df['Workload'].fillna(df['Workload'].median())

#### i) For Stress, use the median

In [20]:
df.loc[:,'Stress'] = df['Stress'].fillna(df['Stress'].median())

#### j) For Sleep Hours, use the mean

In [21]:
df.loc[:,'SleepHours'] = df['SleepHours'].fillna(df['SleepHours'].mean())

#### k) For Commute Mode, use the most frequent mode of commuting

In [22]:
df.loc[:,'CommuteMode'] = df['CommuteMode'].fillna(df['CommuteMode'].mode()[0])

#### l) For Commute Distance, use the mean

In [23]:
df['CommuteDistance'] = df['CommuteDistance'].fillna(df['CommuteDistance'].mean())

#### m) For Team Size, use the mean

In [24]:
df['TeamSize'] = df['TeamSize'].fillna(df['TeamSize'].mean())

#### n) For Num Reports, use the Job Level

In [25]:
def fill_num_reports(row):
    if pd.isna(row['NumReports']):
        if row['JobLevel'] in ['Senior', 'Lead']:
            return df['NumReports'].mean()  # Use the mean if Senior or Lead
        else:
            return 0  # Otherwise set to 0
    return row['NumReports']

df['NumReports'] = df.apply(fill_num_reports, axis=1)

#### o) For have OT (overtime), use the most frequent value

In [26]:
df.loc[:,'haveOT'] = df['haveOT'].fillna(df['haveOT'].mode()[0])

/run/user/1000/app/com.jetbrains.IntelliJ-IDEA-Ultimate/ipykernel_2898/2462339074.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.loc[:,'haveOT'] = df['haveOT'].fillna(df['haveOT'].mode()[0])

#### p) For Training Hours Per Year, use the mean

In [27]:
df['TrainingHoursPerYear'] = df['TrainingHoursPerYear'].fillna(df['TrainingHoursPerYear'].mean())

#### q) JobSatisfaction, use the median

In [28]:
df['JobSatisfaction'] = df['JobSatisfaction'].fillna(df['JobSatisfaction'].median())

### Step 8: Remove the outliers

In [29]:
outliers = f.get_outliers(df['Age'])
df = df[~df['Age'].isin(outliers)]

outliers = f.get_outliers(df['Experience'])
df = df[~df['Experience'].isin(outliers)]

outliers = f.get_outliers(df['PhysicalActivityHours'])
df = df[~df['PhysicalActivityHours'].isin(outliers)]

outliers = f.get_outliers(df['SleepHours'])
df = df[~df['SleepHours'].isin(outliers)]

outliers = f.get_outliers(df['CommuteDistance'])
df = df[~df['CommuteDistance'].isin(outliers)]

outliers = f.get_outliers(df['TeamSize'])
df = df[~df['TeamSize'].isin(outliers)]

outliers = f.get_outliers(df['NumReports'])
df = df[~df['NumReports'].isin(outliers)]

outliers = f.get_outliers(df['TrainingHoursPerYear'])
df = df[~df['TrainingHoursPerYear'].isin(outliers)]

### Step 9: Make each nominal variable a disordered categorical variable and each ordinal variable, an ordered categorical variable

In [30]:
df['Gender'] = df['Gender'].astype(pd.CategoricalDtype(categories=df['Gender'].unique()))
df['MaritalStatus'] = df['MaritalStatus'].astype(pd.CategoricalDtype(categories=df['MaritalStatus'].unique()))
df['Dept'] = df['Dept'].astype(pd.CategoricalDtype(categories=df['Dept'].unique()))
df['EmpType'] = df['EmpType'].astype(pd.CategoricalDtype(categories=df['EmpType'].unique()))
df['CommuteMode'] = df['CommuteMode'].astype(pd.CategoricalDtype(categories=df['CommuteMode'].unique()))
df['haveOT'] = df['haveOT'].astype(pd.CategoricalDtype(categories=df['haveOT'].unique()))

print(df['JobLevel'].unique())
df['JobLevel'] = df['JobLevel'].astype(
    pd.CategoricalDtype(categories=['Intern/Fresher', 'Junior', 'Mid', 'Senior', 'Lead'], ordered=True))

df['Workload'] = df['Workload'].astype(
    pd.CategoricalDtype(categories=[1,2,3,4,5], ordered=True))

df['Stress'] = df['Stress'].astype(
    pd.CategoricalDtype(categories=[1,2,3,4,5], ordered=True))

df['JobSatisfaction'] = df['JobSatisfaction'].astype(
    pd.CategoricalDtype(categories=[1,2,3,4,5], ordered=True))

print(df.info())

['Mid' 'Intern/Fresher' 'Junior' 'Senior' 'Lead']
<class 'pandas.core.frame.DataFrame'>
Index: 2976 entries, 0 to 3024
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   EmpID                  2976 non-null   float64
 1   Gender                 2976 non-null   category
 2   Age                    2976 non-null   float64
 3   MaritalStatus          2976 non-null   category
 4   JobLevel               2976 non-null   category
 5   Experience             2976 non-null   float64
 6   Dept                   2976 non-null   category
 7   EmpType                2976 non-null   category
 8   PhysicalActivityHours  2976 non-null   float64
 9   Workload               2976 non-null   category
 10  Stress                 2953 non-null   category
 11  SleepHours             2976 non-null   float64
 12  CommuteMode            2976 non-null   category
 13  CommuteDistance        2976 non-null   float64
 14  TeamSize               2976 non-null   float64
 15  NumReports             2976 non-null   float64
 16  haveOT                 2976 non-null   category
 17  TrainingHoursPerYear   2976 non-null   float64
 18  JobSatisfaction        2976 non-null   category
dtypes: category(10), float64(9)
memory usage: 263.5 KB
None

### Step 10: Normalize the data

In [31]:
df = f.normalize_values(pd.DataFrame(df), f.Zscore_norm)

In [39]:
# # william version
# # Filter for positive job satisfaction (shift values to be positive)
# # Adding a small constant (e.g., 1) to shift the range from [0, 5] to [1, 6]
# 
# import numpy as np
# 
# # for Box-Cox Transformation
# from scipy import stats
# 
# 
# # plotting modules
# import seaborn as sns
# import matplotlib.pyplot as plt
# 
# import os
# 
# os.chdir(r'/home/zamlamb/KdG/Data n AI 5/Notebooks/dataset')
# 
# cleaned_data = pd.read_csv("cleaned_employee.csv")
# 
# adjusted_job_satisfaction = cleaned_data['JobSatisfaction'] + 1
# 
# # Normalize the job satisfaction data with Box-Cox
# normalized_data = pd.Series(stats.boxcox(adjusted_job_satisfaction)[0], name='JobSatisfaction', index=cleaned_data.index)
# 
# # Print original and normalized data statistics
# print('Original data\nPreview:\n', adjusted_job_satisfaction.head())
# print('Minimum value\n', float(adjusted_job_satisfaction.min()),
#       '\nMaximum value\n', float(adjusted_job_satisfaction.max()))
# print('_'*30)
# 
# print('Normalized data\nPreview:\n', normalized_data.head())
# print('Minimum value\n', float(normalized_data.min()),
#       '\nMaximum value\n', float(normalized_data.max()))
# 
# # Plotting the original and normalized data
# fig, ax = plt.subplots(1, 2, figsize=(15, 5))
# 
# # Original Data Plot
# sns.histplot(adjusted_job_satisfaction, ax=ax[0], kde=True, color='blue', bins=6)
# ax[0].set_title("Original Job Satisfaction Data (Adjusted)")
# ax[0].set_xlabel("Job Satisfaction (Adjusted)")
# ax[0].set_ylabel("Frequency")
# 
# # Normalized Data Plot
# sns.histplot(normalized_data, ax=ax[1], kde=True, color='red', bins=10)
# ax[1].set_title("Normalized Job Satisfaction Data")
# ax[1].set_xlabel("Job Satisfaction (Normalized)")
# ax[1].set_ylabel("Frequency")
# 
# plt.tight_layout()
# plt.show()
# 
#

FileNotFoundError: [Errno 2] No such file or directory: 'cleaned_employee.csv'

Step 10.5: Scaling

In [ ]:
# # # william version
# for min_max scaling
# from mlxtend.preprocessing import minmax_scaling
# # Filter for positive job satisfaction (shift values to be positive)
# # Adding a small constant (e.g., 1) to shift the range from [0, 5] to [1, 6]
# adjusted_job_satisfaction = cleaned_data['JobSatisfaction'] + 1
# 
# # Normalize the job satisfaction data with Box-Cox
# normalized_data = pd.Series(stats.boxcox(adjusted_job_satisfaction)[0], name='JobSatisfaction', index=cleaned_data.index)
# 
# # Print original and normalized data statistics
# print('Original data\nPreview:\n', adjusted_job_satisfaction.head())
# print('Minimum value\n', float(adjusted_job_satisfaction.min()),
#       '\nMaximum value\n', float(adjusted_job_satisfaction.max()))
# print('_'*30)
# 
# print('Normalized data\nPreview:\n', normalized_data.head())
# print('Minimum value\n', float(normalized_data.min()),
#       '\nMaximum value\n', float(normalized_data.max()))
# 
# # Plotting the original and normalized data
# fig, ax = plt.subplots(1, 2, figsize=(15, 5))
# 
# # Original Data Plot
# sns.histplot(adjusted_job_satisfaction, ax=ax[0], kde=True, color='blue', bins=6)
# ax[0].set_title("Original Job Satisfaction Data (Adjusted)")
# ax[0].set_xlabel("Job Satisfaction (Adjusted)")
# ax[0].set_ylabel("Frequency")
# 
# # Normalized Data Plot
# sns.histplot(normalized_data, ax=ax[1], kde=True, color='red', bins=10)
# ax[1].set_title("Normalized Job Satisfaction Data")
# ax[1].set_xlabel("Job Satisfaction (Normalized)")
# ax[1].set_ylabel("Frequency")
# 
# plt.tight_layout()
# plt.show()
# 
#

### Step 11: Check the df

In [32]:
print(df.head())
print(df.info())

      EmpID  Gender       Age MaritalStatus        JobLevel  Experience  \
0 -1.725515    Male -0.364117       Married             Mid   -0.291683
1 -1.719795  Female -0.166847       Married             Mid    0.416466
2 -1.694629  Female -1.251834        Single  Intern/Fresher   -1.141462
3 -1.709500  Female -0.660023       Married          Junior   -0.433313
4 -1.700348   Other -1.251834        Single          Junior   -1.141462

        Dept    EmpType  PhysicalActivityHours Workload Stress  SleepHours  \
0         IT  Full-Time               0.505244        2      1    0.603594
1    Finance  Full-Time              -0.230791        2      2    0.910380
2  Marketing  Full-Time               0.084653        5      4   -0.521287
3         IT   Contract              -0.125643        3      1    0.501332
4      Sales  Part-Time               1.767020        2      1   -2.157477

        CommuteMode  CommuteDistance  TeamSize  NumReports haveOT  \
0               Car         0.777895 -0.682421   -0.777629   True
1               Car         0.179010 -0.833690   -0.777629  False
2         Motorbike         0.418564  2.040415   -0.777629   True
3  Public Transport        -0.060544 -1.136227   -0.777629   True
4               Car         0.777895 -1.438765   -0.777629  False

   TrainingHoursPerYear JobSatisfaction
0             -0.276046               5
1             -0.091076               5
2             -1.977769               5
3             -1.052919               5
4             -1.237889               5
<class 'pandas.core.frame.DataFrame'>
Index: 2976 entries, 0 to 3024
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   EmpID                  2976 non-null   float64
 1   Gender                 2976 non-null   category
 2   Age                    2976 non-null   float64
 3   MaritalStatus          2976 non-null   category
 4   JobLevel               2976 non-null   category
 5   Experience             2976 non-null   float64
 6   Dept                   2976 non-null   category
 7   EmpType                2976 non-null   category
 8   PhysicalActivityHours  2976 non-null   float64
 9   Workload               2976 non-null   category
 10  Stress                 2953 non-null   category
 11  SleepHours             2976 non-null   float64
 12  CommuteMode            2976 non-null   category
 13  CommuteDistance        2976 non-null   float64
 14  TeamSize               2976 non-null   float64
 15  NumReports             2976 non-null   float64
 16  haveOT                 2976 non-null   category
 17  TrainingHoursPerYear   2976 non-null   float64
 18  JobSatisfaction        2976 non-null   category
dtypes: category(10), float64(9)
memory usage: 263.5 KB
None

In [33]:
# save the cleaned data to a new CSV file
# Save the cleaned DataFrame to a CSV file in the current directory
output_file = 'cleaned_employees.csv'
df_permits_with_na_imputed.to_csv(output_file, index=False)

print(f"Cleaned DataFrame saved to {output_file}")

df_permits_with_na_imputed.head()

Cleaned DataFrame saved to cleaned_employees.csv

,EmpID,Gender,Age,MaritalStatus,JobLevel,Experience,Dept,EmpType,PhysicalActivityHours,Workload,Stress,SleepHours,CommuteMode,CommuteDistance,TeamSize,NumReports,haveOT,TrainingHoursPerYear,JobSatisfaction
0,6.0,Male,32.0,Married,Mid,7.0,IT,Full-Time,2.5,2.0,1.0,7.6,Car,20.0,12.0,0.0,True,33.5,5.0
1,11.0,Female,34.0,Married,Mid,12.0,Finance,Full-Time,1.8,2.0,2.0,7.9,Car,15.0,11.0,0.0,False,36.0,5.0
2,33.0,Female,23.0,Single,Intern/Fresher,1.0,Marketing,Full-Time,2.1,5.0,4.0,6.5,Motorbike,17.0,30.0,0.0,True,10.5,5.0
3,20.0,Female,29.0,Married,Junior,6.0,IT,Contract,1.9,3.0,1.0,7.5,Public Transport,13.0,9.0,0.0,True,23.0,5.0
4,28.0,Other,23.0,Single,Junior,1.0,Sales,Part-Time,3.7,2.0,1.0,4.9,Car,20.0,7.0,0.0,False,20.5,5.0